---
layout: default
---
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Posts List -->
	{%- for _page in _pages -%}
		{%- capture _title -%}
			<a href="{{- _page.url | absolute_url -}}">{{- _page.title -}}</a>
		{%- endcapture -%}
		{%- capture _subtitle -%}
			{% if _page.author -%}{{- _page.author }} | {% endif %}
		{%- endcapture -%}
		{%- include section.html title=_title subtitle=_subtitle content=_content -%}
	{%- endfor -%}
</div>